header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1{
    font-family: 'Shrikhand', cursive;
    color: $black;
    height: 15px;
}
#arrow__back{
    padding-top: 33px;
    margin-left: -78px;
}