@media (max-width: 480px) {
body{
    width: 100%;
}
a:visited{
    text-decoration:none;
    color: $black;
}
a:link{
    text-decoration: none;
    color: $black;
}
.home__location{
    @include home__location;
}
#home__location__symbol{
    margin-right: 20px;
}
.home__introduction{
    @include home__introduction;
}
.home__introduction__quote{
    font-size: 1.4rem;
    font-weight: 800;
    width: 250px;
    text-align: center;
}
.home__introduction__presentation{
    font-size: 1.2rem;
    width: 350px;
    text-align: center;
}
.home__explore{
    @include home__explore;
}
.home__explore__text{
    color: $white;
}
.operation__introduction{
    padding-left: 35px;
    font-weight: 800;
}
.operation ol {counter-reset: step;} 
li {
	list-style-type: none;
	counter-increment: step; 
}
.operation li:before {
    @include operation__before;
}
.operation__step{
    @include operation__step;
}
#operation__step__one__icon{
    padding: 20px 20px;
}

#operation__step__two__icon{
    padding: 20px 20px;
}
.operation__step__pink{
    @include operation__step__pink
}
#operation__step__three__icon{
    padding: 20px 20px;
    color: $primary-color;
}
.restaurant__container{
    @include restaurant__container;
}
.restaurant{
    @include titre__section;
}
.restaurant__card{
    @include restaurant__card
}
.restaurant__card__image{
    @include restaurant__card__image;    
}
.restaurant__card__new{
    @include restaurant__card__new;
}
.restaurant__card__text h3, p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.restaurant__card__name{
    @include restaurant__card__name;
}
.align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

/*Changement de breakpoints*/

@media (min-width: 481px) and (max-width:929px){
body{
    width: 100%;
    }
a:visited{
    text-decoration:none;
    color: $black;
    }
a:link{
    text-decoration: none;
    color: $black;
    }
.home{
    padding-top: 25px;
    }
.home__location{
    @include home__location;
    }
#home__location__symbol{
    margin-right: 10px;
    }
.home__introduction{
    @include home__introduction;
    }
.home__introduction__quote{
    font-size: 1.4rem;
    font-weight: 800;
    width: 250px;
    text-align: center;
    }
.home__introduction__presentation{
    font-size: 1.2rem;
    width: 350px;
    text-align: center;
    }
.home__explore{
    @include home__explore;
    }
.home__explore__text{
    color: $white;
    }
.operation__introduction{
    padding-left: 35px;
    font-weight: 800;
    }
.operation ol {counter-reset: step;} 
li {
    list-style-type: none;
    counter-increment: step; 
    }
.operation li:before {
    @include operation__before;
    }
.operation__step{
    @include operation__step;
    }
#operation__step__one__icon{
    padding: 20px 20px;
    }
#operation__step__two__icon{
    padding: 20px 20px;
    }
.operation__step__pink{
    @include operation__step__pink;
    }
#operation__step__three__icon{
    padding: 20px 20px;
    color: $primary-color;
    }
.restaurant__container{
    @include restaurant__container;
    }
.restaurant__menu{
    position: relative;
    top: -92px
    }
.restaurant{
    @include titre__section;   
    }
.restaurant__card{
    @include restaurant__card;
    }
.restaurant__card__image{
    @include restaurant__card__image;    
    }
.restaurant__card__new{
    @include restaurant__card__new;
    }
.restaurant__card__text h3, p{
    margin-top: 10px;
    margin-bottom: 10px;
    }
.restaurant__card__name{
    @include restaurant__card__name;
    }
.align{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    }
@media (min-width: 930px) and (max-width: 1024px) {
  
        /* mesures pour desktop */
    
body{
    width:100%;
    }
a:visited{
    text-decoration:none;
    color: $black;
    }
a:link{
    text-decoration: none;
    color: $black;
    }
header{
    width: 100%;
    }
main{
    width: 100%;
    }
a:visited{
    text-decoration: none;
    color: $black;
}
.home{
    width: 100%;
    padding-top: 25px;
    }
.home__location{
    @include home__location;
    }
#home__location__symbol{
    margin-right: 10px;
    }
.home__introduction{
    @include home__introduction;
    }
.home__introduction__quote{
    font-size: 1.4rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
    }
.home__introduction__presentation{
    font-size: 1.2rem;
    width: 350px;
    text-align: center;
    }
.home__explore{
    @include home__explore;
    }
.home__explore__text{
    color: $white;
    }
.operation__introduction{
    text-align: center;
    font-weight: 800;
    }
.operation ol {counter-reset: step;} 
li {
    list-style-type: none;
    counter-increment: step; 
    }
ol{
    display: flex;
    justify-content: space-around;
    }
.operation li:before {
    @include operation__before;
    }
.operation__step{
    @include operation__step;
    }
#operation__step__one__icon{
    padding: 20px 20px;
    }
#operation__step__two__icon{
    padding: 20px 20px;
    }
.operation__step__pink{
    @include operation__step__pink;
    }
#operation__step__three__icon{
    padding: 20px 20px;
    color: $primary-color;
    }
.restaurant__container{
    @include restaurant__container;
    }
.restaurant__menu{
    position: relative;
    top: -92px
    }
.restaurant{
    @include titre__section;
    text-align: center;
    }
.restaurant__card{
    @include restaurant__card;
    }
.restaurant__card__image{
    @include restaurant__card__image; 
    }
.restaurant__card__new{
    @include restaurant__card__new;
    }
.restaurant__card__text h3, p{
    margin-top: 10px;
    margin-bottom: 10px;
    }
.restaurant__card__name{
    @include restaurant__card__name;
    }
.restaurant__list{
    display: flex;
    flex-direction: row;
    }
a.align{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    }
    
@media (min-width: 1025px) and (max-width:2000px){
  
        /* mesures pour Grand desktop */

body{
    width:100%;
    }
a:visited{
    text-decoration:none;
    color: $black;
    }
a:link{
    text-decoration: none;
    color: $black;
    }
header{
    width: 100%;
    }
main{
    width: 100%;
    }
a:visited{
    text-decoration: none;
    color:$black;
}    
.home{
    width: 100%;
    padding-top: 25px;
    }
.home__location{
    @include home__location;
    }
#home__location__symbol{
    margin-right: 10px;
    }
.home__introduction{
    @include home__introduction;
    }
.home__introduction__quote{
    font-size: 1.4rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
    }
.home__introduction__presentation{
    font-size: 1.2rem;
    width: 350px;
    text-align: center;
    }
.home__explore{
    @include home__explore;
   }
.home__explore__text{
    color: $white;
    }
.operation__introduction{
    text-align: center;
    font-weight: 800;
    }
.operation ol {counter-reset: step;} 
li {
    list-style-type: none;
    counter-increment: step; 
    }
ol{
    display: flex;
    justify-content: space-around;
    }
.operation li:before {
    @include operation__before;
    }
.operation__step{
    @include operation__step;
    }
#operation__step__one__icon{
    padding: 20px 20px;
    }    
#operation__step__two__icon{
    padding: 20px 20px;
    }
.operation__step__pink{
    @include operation__step__pink;
    }
#operation__step__three__icon{
    padding: 20px 20px;
    color: $primary-color;
    }
.restaurant__container{
    @include restaurant__container;
    }
.restaurant__menu{
    position: relative;
    top: -92px
    }
.restaurant{
    @include titre__section;
    text-align: center;
    }
.restaurant__card{
    @include restaurant__card;
    }
.restaurant__card__image{
    @include restaurant__card__image;
    }
.restaurant__card__new{
    @include restaurant__card__new;
    }
.restaurant__card__text h3, p{
    margin-top: 10px;
    margin-bottom: 10px;
    }
.restaurant__card__name{
    @include restaurant__card__name;
    }
.restaurant__list{
    display: flex;
    flex-direction: row;
    }
a.align{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    }
@media (min-width: 2001px) and (max-width:2560px){
  
        /* mesures pour desktop */
    
body{
    width:100%;
    }
a:visited{
    text-decoration:none;
    color: $black;
    }
a:link{
    text-decoration: none;
    color: $black;
    }
header{
    width: 100%;
    }
main{
    width: 100%;
    }
a:visited{
    text-decoration: none;
    color:$black;
}
.home{
    width: 100%;
    padding-top: 25px;
    }
.home__location{
    @include home__location;
    }
#home__location__symbol{
    margin-right: 10px;
    }
.home__introduction{
    @include home__location;
    }
.home__introduction__quote{
    font-size: 1.4rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
    }
.home__introduction__presentation{
    font-size: 1.2rem;
    width: 350px;
    text-align: center;
    }
.home__explore{
    @include home__explore;
    }
.home__explore__text{
    color: $white;
    }
.operation__introduction{
    text-align: center;
    font-weight: 800;
    }
.operation ol {counter-reset: step;} 
li {
    list-style-type: none;
    counter-increment: step; 
    }
ol{
    display: flex;
    justify-content: space-around;
    }
.operation li:before {
    @include operation__before;
    }
.operation__step{
    @include operation__step;
    }
#operation__step__one__icon{
    padding: 20px 20px;
    }
#operation__step__two__icon{
    padding: 20px 20px;
    }
.operation__step__pink{
    @include operation__step__pink;
    }
#operation__step__three__icon{
    padding: 20px 20px;
    color: $primary-color;
    }
.restaurant__container{
    @include restaurant__container;
    }
.restaurant__menu{
    position: relative;
    top: -92px
    }
.restaurant{
    @include titre__section;
    text-align: center;
    }
.restaurant__card{
    @include restaurant__card;
    }
.restaurant__card__image{
    @include restaurant__card__image;
    }
.restaurant__card__new{
    @include restaurant__card__new;
    }
.restaurant__card__text h3, p{
    margin-top: 10px;
    margin-bottom: 10px;
    }
.restaurant__card__name{
    @include restaurant__card__name;
    }
.restaurant__list{
    display: flex;
    flex-direction: row;
    }
a.align{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    }
    
    
    